<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
    <link rel="stylesheet" href="/edit.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <header>
        <h1>Edit Content</h1>
    </header>

    <%- include ('Components/navbar.ejs') %>

    <div class="container">
        <h2>Edit Your Information</h2>
        <form action="/edit/<%= blog[0].id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" value="<%- blog[0].title %>" required>
            </div>
            <div class="form-group">
                <label for="subtitle">Subtitle:</label>
                <input type="text" id="subtitle" name="subtitle" value="<%-blog[0].subTitle %>" required>
            </div>
            <div class="form-group">
                <label for="image">image:</label>
                <input type="file" id="image" name="image" value="<%-blog[0].image %>" >
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="4" required><%- blog[0].description %></textarea>
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
</body>

</html>