<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i-Note</title>

    <link rel="stylesheet" href="index.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <header>
        <h1>Notes</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand font-weight-bold" href="/">NOTE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/create">Create <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <% if (blogs.length > 0) { %>
            <% blogs.forEach((blog) => { %>
                <div class="card">
                    <h2 class="text-black font-weight-bolder"><u><%= blog.title %></u></h2>
                    <h3><%= blog.subTitle %></h3>
                    <p><%= blog.description.slice(0,100)%>...</p>
                    <a href="/note/<%= blog.id %>">Read More</a> <!-- Fix the rendering of blog.id here -->
                </div>
            <% }); %>
        <% } else { %>
            <h1>No notes available</h1>
        <% } %>
    </div>

    <%- include ('Components/Footer.ejs') %>
    
</body>

</html>