<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i-Note</title>

    <link rel="stylesheet" href="index.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <header>
        <h1>Notes</h1>
    </header>
    <%- include ('Components/navbar.ejs') %>

        <h1>My Blogs</h1>


        <div class="container">
            <%myBlogs.length>0 && myBlogs.forEach((blog)=>{ %>
                <div class="card">
                    <h2 class="text-black font-weight-bolder"><u><%= blog.title %></u></h2>
                    <h3><%= blog.subTitle %></h3>
                    <p><%= blog.description.slice(0,100)%>...</p>
                    <a href="/note/<%= blog.id %>">Read More</a> 
            </div>
                <% }) %>
        </div>

        <%- include ('Components/Footer.ejs') %>

</body>

</html>