<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Post</title>
    <link rel="stylesheet" href="/readMore.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <h1>Reading Blog</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand font-weight-bold" href="/">NOTE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Create </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="author-info">
            <div class="author-name">
                <h2 class="mb-0">TITLE: <%- blog[0].title %></h2><br>
                <h4 class="text-secondary">SUBTITLE: <%- blog[0].subTitle %></h4>
            </div>
        </div>
        <div class="post-content">
            <p class="lead">DESCRIPTION: <%- blog[0].description %></p>
        </div>

        <div class="post-footer">
            Published on <%- blog[0].createdAt.toISOString().slice(0,10) %><br>
                <button class="btn "><a class="text-black-50" href="/">Go back ←</a></button>
        </div>
        <!--update-->
        <button class=" btn btn-success"><a class="text-white" href="/edit/<%-blog[0].id %>">Edit</a></button>
        <!--delete-->
        <button class=" btn btn-danger"><a class="text-white" href="/delete/<%-blog[0].id %>">Delete</a></button>

    </div>
    <%- include ('Components/Footer.ejs') %>
</body>

</html>